* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-image: url("./images/ContactWeb.png");
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.alertIcon {
    width: 50px;
    margin-left: -45px;
}

.listIcon {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 25px;
    height: 25px;
}

.contactCaseContainer, 
.counter {
    display: flex;
    justify-content: center;
}

.contactCaseContainer {
    display: block;
    padding: auto;
    margin-top: 125px;
    margin-bottom: 50px;
}

.refreshButtons {
    margin: 50px;
    
}

.refreshButtons:hover {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    border-radius: 15px;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20;
    font-family: Arial Rounded MT Bold;
    font-weight: 400;
    margin: 17px;
}

.buttons:hover {
    cursor: pointer;
}

#glassesButton {
    background-color: #42E0C2;
}

#contactsButton {
    background-color: #EB354A;
}
